body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0d1117;
    color:white;
}

header{
    background:#ff9800;
    color:white;
    text-align:center;
    padding:18px;
    font-size:28px;
    font-weight:bold;
}

.container{
    padding:20px;
}

.card{
    background:#1c2128;
    padding:18px;
    margin:15px 0;
    border-radius:12px;
}

button{
    background:#ff9800;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;
    box-sizing:border-box;
}
